<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="~/jspm_packages/github/es-shims/es6-shim@0.35.0/es6-shim.js"></script>
    <script src="~/jspm_packages/npm/zone.js@0.6.12/lib/zone.js"></script>
    <script src="~/jspm_packages/system.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="~/jspm.config.js"></script>

    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>

</head>
<!-- 3. Display the application -->
<body>
    @RenderBody()
</body>
</html>
